body{
    background:#222;
    /*background: #aaa;*/
    margin: 0px;
    padding: 0px;
    display: flex;
    font-size: 8px;
}


[iframe]{
    display: grid;
    background: rgba(0,0,0,0.3);
    cursor: move;
    border: 5px double #fff;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    resize: both;
}

[hide]{
    display: none;
}

iframe{
    resize: both;
    width: 480px;
    height: 360px;
}

input[type=button]{
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

input[type=button]:hover{
    background: #00f;
    color: #fff;
}

a{
    cursor: pointer;
}
a:hover{
    color: #f00;
}

div#block{
    width: 100%;
    height: 100%;
    background:#222;
    opacity: 1;
    display: block;
    transition-duration: 1s;
    position: fixed;
    cursor:wait;
    z-index: 99;
}
div#block div{
    position: absolute;
    height: 50px;
    width: 50px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border-radius: 50%;
    background: transparent;
}

div#block div:nth-child(1){
    
    border-top:3px solid #aaa;
    animation: load 1s infinite linear;
}

@keyframes load {
    to {
        transform: rotateZ(360deg);
    }
}



div#block div:nth-child(2){
    color: #fff;
    font-size: 20px;
    top: calc(50% + 20px);
    left: calc(50% - 70px);
    
}

/*
div#block div{
    margin-top: 1%;
    width: 100%;
    background: #00f;
    height: 20px;
    text-align: center;
    font-size: 20px;
    color: #000;
}
*/

div#top_bar{
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 6px;
    border: 1px solid #000;
    position: fixed;
    left: 98%;
    float: right;
    top: 5px;
    font-size: 28px;
    color: #000;
    cursor: pointer;
}

div#top_bar:hover{
    background: #00f;
    color: #fff;
}

div#menu{
    position: fixed;
    width: 5%;
    
}

div#menu>div{
    margin: 4px;
}

div#menu>div:nth-child(1){
    left:200px;
    
    display: flex;
    cursor: move;
    position: absolute;
    border: 2px solid #00f;
    background: #00f6;
}


div#menu>div:nth-child(1)>div div{
    margin-left: 10px;
}


div#main{
    padding: 10px;
    margin-left: 10%;
}


div#main>div>div.yt,
div#main>div>div.nh{
    width: 490px;
    height: 462px;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #000;
    margin: 5px;
    padding: 5px;
    display: inline-grid;
}
div#main>div>div.yt[hide],
div#main>div>div.nh[hide]{
    display:none;
}


yt_title{
    display: block;
    height: 40px;
    width: 480px;
    overflow: hidden;
}
date{
    display: block;
    margin: 10px 0 0 0;
    font-size: 16px;
}
tag{
    display: block;
    height: 20px;
    width: 480px;
    overflow: hidden;
}


div#main>div>div.yt img,
div#main>div>div.nh img{
    cursor: pointer;
}

div#main>div>div.nh img{
    height: 380px;
}

div#detail_search input[type=text]{
    width: 150px;
    border-radius: 4px;
    border: 2px solid #000;
}

div#detail_search select{
    width: 150px;
    border-radius: 4px;
    border: 2px solid #000;
}


#top_chat{
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(125,125,125,0.4);
    z-index: 9999;
    position: absolute;
    resize: both;
    overflow: auto;
    overflow-x: hidden;
    width: 490px;
    height: 462px;
    cursor: move;
    padding: 10px;
}
#top_chat>div{
    background:#fff;
    cursor: pointer;
    border: 2px solid #000;
    margin: 2px;
    padding: 8px;
    border-radius: 10px;
}
#top_chat>div a:nth-child(1){
    display: inline;
    margin: 0 8px 0 0;
    color: hsla(0, 0%, 6.7%, 0.4);
    font-size: 11px;
}
#top_chat>div a:nth-child(1):hover{
    color:#f00;
    border: 1px solid #000;
    background: #fff;
    border-radius: 4px;
}
#top_chat>div a:nth-child(1):active{
    color:#fff;
    background: #000;
}
#top_chat>div a:nth-child(2){
    color: hsl(225, 84%, 66%);
    display: inline-flex;
}
#top_chat>div a:nth-child(2) div{
    color: #5e84f1;
}
#top_chat>div a:nth-child(3){
    color: hsl(0, 0%, 6.7%);
}
#top_chat>div .emoji
{
    width: 24px;
    height: 24px;
    margin: -1px 2px 1px;
    vertical-align: middle;
}

#top_chat input{
    width: 100%;
}


ul{
    list-style: none;
    width: 100%;
    padding: 0px;
}
ul li{
    margin-top: 4px;
}
